<div class="body">
  <mat-card class="account">
    <button mat-raised-button color="accent" class="big-round-shape-button" (click)="connectAccount()"> Get Account</button>

    <div style="text-align:center">
      <section class="header">
        <img [src]="data" class="profile" />
        <h4>Your address is:</h4>
        <h6>{{ direction }} </h6>
        <h4>Balance:</h4>
        <h5>{{balance}} ETH</h5>
      </section>
    </div>

  </mat-card>
</div>
<div class="body" *ngIf="direction == undefined">
  <mat-card class="account">

    <div style="text-align:center">
      <section class="header">

        <h3>Web3 enabled browser and secure wallet required.</h3>
        <h4>Please check if metamask is running correctly and refresh the page</h4>
        <h5>In order to use Angular Truffle Dapp, please install a secure wallet such as MetaMask.</h5>
        <mat-list-divider></mat-list-divider>
        &nbsp;

        <div class="button-container">
          &nbsp;
          <button mat-raised-button color="accent" class="big-round-shape-button" (click)="navigateTo()"> Get MetaMask</button>
        </div>
        &nbsp;
      </section>
    </div>

  </mat-card>
</div>
